<%= form_with(url: "/comments/new", method: "post") do %>
  <%= hidden_field_tag(:meme_id, locals[:meme_id]) %>
  <div>
    <%= text_area_tag :body, nil, required: true, class: 'comment-form w-100-percent' %>
  </div>
  <div class="flex justify-flex-end">
    <%= submit_tag("Comment", class: 'btn-submit') %>
  </div>
<% end %>