<div class="container">
  <% @memes_by_categ.each do |category, memes| %>
    <h1><%= category %></h1>
    <div class="grid-memes">
      <% memes.each do |meme| %>
        <a href="/memes/<%= meme.id %>" class="meme-item flex align-items-center justify-center">
          <img src="<%= meme.url_source %>" alt="<%= meme.title %>">
        </a>
      <% end %>
    </div>
  <% end %>
</div>