<div class="container">
  <h1>Most popular memes</h1>
  <div class="grid-memes">
    <% @data.each do |meme| %>
      <a href="/memes/<%=meme.id%>" class="meme-item flex align-items-center justify-center">
        <img src="<%= meme.url_source %>" alt="<%= meme.title %>">
      </a>
    <% end %>
  </div>
</div>