<main class="container w-30-percent-lg flex flex-column">

  <h1 class="title">My account</h1>

  <div class="user__info">
    <p class="mb-30">
      Username: <%= @user.username %>
    </p>

    <p class="mb-30">
      Email: <%= @user.email %>
    </p>

    <p class="mb-30">
      # of memes: <%= @user.memes_count %>
    </p>

    <%= link_to 'Edit', edit_user_registration_path, class: 'btn-submit text-undecorated edit-profile' %>
  </div>

</main>
