.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  font-size: 14px;
  padding: 0;

  li {
    list-style: none;
    margin: 1vw;
  }
}

nav {
  display: flex;
  
  a {
    text-decoration: none;
  }
}

footer {
  text-align: center;
  margin-top: 5vh;
}
