.nav-brand {
  width: 140px;
  height: 70px; 
  margin: 15px;
}
.nav-list {
  font-size: 14px;
  padding: 0;
  margin-bottom: 0px;

  li {
    list-style: none;
    margin: 1vw;
    margin-bottom: 0px;
  }
}

nav {
  display: flex;
  
  a {
    text-decoration: none;
    color: black !important;
  }
  
  a:hover {
    text-decoration: none;
    color: gray !important;
  }
}

footer {
  height: 80px;
  margin-top: 20px;
  text-align: center;
}
.content-footer {
  border-top: 1px solid black;
}
