// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  background: #E5E5E5;
  border: 1px solid black;
  padding: 5px 8px;
}

.user__info {
  padding-left: 15px;
  p {
    font-family: 'Lilita One', cursive;
    font-weight: normal;
    font-size: 24px;
  }
}

.form-user {
  padding-left: 15px;
}

.edit-profile {
  padding: 8px 14px 8px 14px;
  font-size: 16px;
  line-height: 18px;
}
