<footer class="flex container justify-center align-items-center">
  <div class="content-footer w-100-percent h-100-percent flex justify-center align-items-center">
    <p>Made by Zamir Narro, Joel Eche & Andrés Del Carpio</p>
  </div>
</footer>
