<nav class="flex">
  <a href="/"><%= image_tag "memeable.svg" %></a>

  <div>
    <ul class="flex nav-list">
      <li><a href="/categories">By Category</a></li>
      <li><a href="/popular">By Popularity</a></li>
      <li><a>Search</a></li>
      <li><a href="/memes/new">Create Meme</a></li>
    </ul>
  </div>

  <div>
    <ul class="flex nav-list">
      <% if user_signed_in? %>
        <li>
          <%= link_to "My Profile", "/my_profile" %>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<hr>
